.cs_out_of_stock_message {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(78, 78, 78, 0.74);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
}
